<!-- 全データを表示させるためのテンプレート -->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <%- include("./head")%>
</head>
<body>
  <%- include("./header")%>
  <main>
    <div>
      <% allBlogs.forEach((blog) => { %>
        <div>
          <a href="blog/<%= blog._id %>">
            <img src="/public/images/<%= blog.image %>" alt="blog-image">
            <div>
              <h2><%= blog.title %></h2>
              <p><%= blog.summary %></p>
            </div>
          </a>
        </div>
      <% })%>
    </div>
  </main>
  <%- include("./footer")%>
</body>
</html>